In [132]:
import tensorflow as tf
import tensorflow_hub as hub
import numpy as np
import pandas as pd

In [6]:
module_url = "https://tfhub.dev/google/universal-sentence-encoder/4"

In [7]:
model = hub.load(module_url)

In [9]:
def embed(input):
  return model(input)

In [139]:
#Use either of the two dataframes as your data source

#data source 1
data_csv = pd.read_csv("MyData/ML/projects/Infinity/matchdata.csv")

#data source 2
data_local_raw = {'First_Name':['Marian', 'Joe', 'Gibbs', 'Linda', 'Max', 'Cesar', 'Liza', 'Amanda', 'Dian', 'Donald'], 
             'Last_name':['Boynton', 'Vaz', 'Paul', 'Hundsay', 'Millan', 'Millar', 'Ray', 'Lopez', 'Harris', 'Obama'],
            'Interest_1':['data science', 'Roller skating', 'Look at the clouds', 'mobile app development', 'Summer job', 'Go hunting', 'to become and entrepreneur', 'CRICKET', 'theatres and drama', 'theatre and drama'],
            'Interest_2':['bike adventure', 'reading thriller books', 'Horse races', 'deep learning in computer vision', 'Make bird feeder', 'Collect sea shells', 'Pick wild flowers', 'playing musical instruments', 'sharing my experience and wisdom', 'machine learning'],
            'Interest_3':['acting', 'legged race', 'angel investor', 'Mini golf', 'Adopt a star', 'Watch a sunset', 'all things related to cats', 'connecting with kindred spirits', 'research and discovery', 'Adventure']}
data_local = pd.DataFrame(data_local_raw)

In [134]:
data_local

,First_Name,Last_name,Interest_1,Interest_2,Interest_3
0,Marian,Boynton,data science,bike adventure,acting
1,Joe,Vaz,Roller skating,reading thriller books,legged race
2,Gibbs,Paul,Look at the clouds,Horse races,angel investor
3,Linda,Hundsay,mobile app development,deep learning in computer vision,Mini golf
4,Max,Millan,Summer job,Make bird feeder,Adopt a star
5,Cesar,Millar,Go hunting,Collect sea shells,Watch a sunset
6,Liza,Ray,to become and entrepreneur,Pick wild flowers,all things related to cats
7,Amanda,Lopez,CRICKET,playing musical instruments,connecting with kindred spirits
8,Dian,Harris,theatres and drama,sharing my experience and wisdom,research and discovery
9,Donald,Obama,theatre and drama,machine learning,Adventure

In [19]:
def get_embeddings(person1, person2):
    person1_embeddings = embed(person1)
    person2_embeddings = embed(person2)
    
    return person1_embeddings, person2_embeddings

In [140]:
def calculate_corr_value(person1, person2):
    person1_embeddings, person2_embeddings = get_embeddings(person1, person2)
    sum = 0
    for i in range(3):
        min_diff = float('inf')
        for j in range(3):
            diff = np.sum(np.abs(person1_embeddings[i] - person2_embeddings[j]))
            if diff < min_diff:
                min_diff = diff
        
        sum += min_diff
        
    return sum

In [195]:
def find_a_match(person_id):
    person1_list = data_local.iloc[person_id, 2:].values.tolist()
    best_match_value = float('inf')
    best_match_index = 0
    for j in range (10):
        if person_id != j:
            person2_list = data_local.iloc[j, 2:].values.tolist()
            corr = calculate_corr_value(person1_list, person2_list)
            print("Match score bet person {} and {} is {}".format(person_id, j, corr))
            if corr < best_match_value:
                best_match_value = corr
                best_match_index = j
    print("\n{} {}({}) shares similar interest with {} {}({})".format(data_local.iloc[person_id, 0], 
        data_local.iloc[person_id, 1],person_id, data_local.iloc[best_match_index, 0],data_local.iloc[best_match_index,1], best_match_index))

In [196]:
#find a match for 6th person
find_a_match(6) # person index starts from zero

Match score bet person 6 and 0 is 70.45645713806152
Match score bet person 6 and 1 is 70.4373550415039
Match score bet person 6 and 2 is 67.68522834777832
Match score bet person 6 and 3 is 68.51390075683594
Match score bet person 6 and 4 is 67.82010269165039
Match score bet person 6 and 5 is 69.11140441894531
Match score bet person 6 and 7 is 69.94799041748047
Match score bet person 6 and 8 is 70.12443351745605
Match score bet person 6 and 9 is 72.12876510620117

Liza Ray(6) shares similar interest with Gibbs Paul(2)